.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selecteur {
  border: 2px blue solid;
  width: 80%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 5px;
  cursor: pointer;
}

h2 {
  background-color: darkblue;
  color: white;
}

.selected {
  background-color: grey;
  color: white;
}
